.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-inner {
  width: 500px;
  padding: 2rem 1rem;
}

.input-wrapper {
  font-size: 16px;
}

.search-input {
  border-style: solid;
  word-wrap: break-word;
  outline: none;
  height: 54px;
  font-size: 16px;
  width: 500px;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem;
  margin-top: 10px;
}

.matchingText,
.hightLightedWord {
  color: red;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.suggestions-container {
  overflow: auto;
}

.suggestions-options {
  list-style-type: none;
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}
.suggestions-item {
  padding: 0.2rem;
}

.suggestions-item:hover {
  background-color: #fff;
  cursor: pointer;
}
